<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style/main.css">
    <title> @ViewData["title"] - Moment 2</title>

</head>

<body>

    <div class="main-container">


        <header>
            <div class="header-wrapper">

                <div class="navbar">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Home" asp-action="Profile">Profile</a>
                    <a asp-controller="Home" asp-action="Users">Users</a>
                    <a asp-controller="Home" asp-action="About">About</a>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <h1>Footer</h1>
        </footer>
    </div>


    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>

</html>
