@{

   ViewData["Title"] = "Home";

}

<div class="index-page">
   <partial name="_TodayDatePartial"></partial>

   <div class="home-page-wrapper">
      <h1>Välkommen till 2 för kursen ASP.NET </h1>

     
    <div class="text-wrapper">
         <p>
             Syftet med momentet är att utnyttja MVC modellen för att skapa en enkel webbplats.
            Webbplatsen består av tre sidor: Home, Profile och User. Datumet ovan är inhämtad från en partial <br><br>
   
            På profil sidan hittar du en ASP.NET baserat formulär som skickar och tar emot data. Data presenteras om du har
            matat in den.
            Om du lyckas skicka en POST request så en del av datan också i en session. Datan i session kommer att utnyttjas
            av nästa undersida, Users.
            Där presenteras en lista av datan som finns i session.
   
         </p>
    </div>

   </div>


</div>
